html
  head
    title= preferences.site_title
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='/css/newsfeed_styles.css')
    link(rel='stylesheet', href='/css/timer_styles.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap')
    link(href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@32,400,0,0", rel="stylesheet")

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js')
    script(src='/scripts/newsfeed.js')
    script(src='/scripts/page_load.js')
    script. 
      const dash_id = "#{dash_id}";
  body
  
    div#header 
      div#title= preferences.header_title
      div#subtitle= preferences.header_subtitle

    div#content
        div#viewcontrol
          span#tab_a.tabbtn(class="clicked", onclick="switchTab('a')")= (preferences.slot_a.charAt(0).toUpperCase()+preferences.slot_a.slice(1)) 
          span#tab_b.tabbtn(onclick="switchTab('b')")= (preferences.slot_b.charAt(0).toUpperCase()+preferences.slot_b.slice(1)) 
        div(id=preferences.slot_a, class="slot slot_a")
        div(id=preferences.slot_b, class="slot slot_b")
        
    div#homebutton
      span(class="material-symbols-outlined big", onclick="window.location='/'" title="Back to main page") home
      span(class="material-symbols-outlined big", onclick="window.location=window.location.pathname+'/admin'" title="Dashboard controls") settings_applications
      
