doctype html
html
  head
    title= preferences.site_title
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='/css/newsfeed_styles.css')
    link(rel='stylesheet', href='/css/timer_styles.css')
    link(rel='stylesheet', href='/css/numbers_styles.css')
    
    // Fonts
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap')
    link(href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@32,400,0,0", rel="stylesheet")
    link(href="https://fonts.cdnfonts.com/css/noto-sans" rel="stylesheet")
    link(href="https://fonts.cdnfonts.com/css/century-gothic-paneuropean" rel="stylesheet")

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js')
    script(src='/scripts/newsfeed.js')
    script(src='/scripts/page_load.js')
    script(src="/scripts/qrcode.js")
    script. 
      const dash_id = "#{dash_id}";
      
    if (dash_id)
      // Dashboard specific styling
      link(rel='stylesheet', href=`/css/${dash_id}_styles.css`)

  body
  - const header_bool = safeJSONParse(preferences.header_visible, true);
  - const settings_bool = safeJSONParse(preferences.settings_visible, false);
  - const qrcode_bool = safeJSONParse(preferences.qrcode_visible, false);
    header#header(style={display:header_bool ? "block" : "none"})
      div#header_content
        div
          h1#title= preferences.header_title
          if preferences.header_subtitle
            h2#subtitle= preferences.header_subtitle
        div#qrcode_and_logo
          div(id="qrcode", style={display: qrcode_bool ? "inline" : "none"})
            script.
              const QRCodeElement = document.getElementById("qrcode");
              const preferences = !{JSON.stringify(preferences)};
              const qrcodeSize = preferences.qrcode_size || 128;
              const lightColour = preferences.qrcode_lightColour || "#ffffff";
              const darkColour = preferences.qrcode_darkColour || "#000000";
              const qrcode = new QRCode(QRCodeElement, {
                text: `https://megagame.space/${dash_id}`,
                width: qrcodeSize,
                height: qrcodeSize,
                colorLight: lightColour,
                colorDark: darkColour,
              });
          if preferences.logo_path
            img#logo(src=preferences.logo_path, alt=preferences.logo_alt style="width:100px;padding:10px;")
    div#content
        div#viewcontrol
          span#tab_a.tabbtn(class="clicked", onclick="switchTab('a')")= (preferences.slot_a.charAt(0).toUpperCase()+preferences.slot_a.slice(1)) 
          span#tab_b.tabbtn(onclick="switchTab('b')")= (preferences.slot_b.charAt(0).toUpperCase()+preferences.slot_b.slice(1)) 
        div(id=preferences.slot_a, class="slot slot_a")
        div(id=preferences.slot_b, class="slot slot_b")
        
    footer#homebutton
      span(class="material-symbols-outlined big", onclick="window.location='/'" title="Back to main page") home
      span(class="material-symbols-outlined big", onclick="window.location=window.location.pathname+'/admin'" title="Dashboard controls" style={display:settings_bool ? "inline" : "none"}) settings_applications
      
