html
  head
    title= preferences.site_title
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='/css/newsfeed_styles.css')
    link(rel='stylesheet', href='/css/timer_styles.css')
    
    // Fonts
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap')
    link(href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@32,400,0,0", rel="stylesheet")
    link(href="https://fonts.cdnfonts.com/css/noto-sans" rel="stylesheet")
    link(href="https://fonts.cdnfonts.com/css/century-gothic-paneuropean" rel="stylesheet")

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js')
    script(src='/scripts/newsfeed.js')
    script(src='/scripts/page_load.js')
    script. 
      const dash_id = "#{dash_id}";

  body
  - const header_bool = JSON.parse(preferences.header_visible);
  - const settings_bool = JSON.parse(preferences.settings_visible);
    header#header(style={display:header_bool ? "block" : "none"})
      //- Change to class when not 12am
      div#title_and_logo(style={display:"flex", "justify-content":"space-between", "align-items":"center"}) 
        div#title= preferences.header_title
        if preferences.logo_path
          img(src=preferences.logo_path, alt=preferences.logo_alt style="width:100px;")
      div#subtitle= preferences.header_subtitle
    div#content
        div#viewcontrol
          span#tab_a.tabbtn(class="clicked", onclick="switchTab('a')")= (preferences.slot_a.charAt(0).toUpperCase()+preferences.slot_a.slice(1)) 
          span#tab_b.tabbtn(onclick="switchTab('b')")= (preferences.slot_b.charAt(0).toUpperCase()+preferences.slot_b.slice(1)) 
        div(id=preferences.slot_a, class="slot slot_a")
        div(id=preferences.slot_b, class="slot slot_b")
        
    div#homebutton
      span(class="material-symbols-outlined big", onclick="window.location='/'" title="Back to main page") home
      span(class="material-symbols-outlined big", onclick="window.location=window.location.pathname+'/admin'" title="Dashboard controls" style={display:settings_bool ? "inline" : "none"}) settings_applications
      
