script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js')
script. 
  const phaseData = !{sphases};
  const gameStructure = !{sstruct};
script(src='/scripts/timer.js')
div#timer_module
  div.clock_block
    div.cturn
      span Current Turn: 
      span#current_turn 0
    div.cphase
      span Current Phase: 
      span#current_phase x
    div#time

  div#timer_phases
    table
      tbody#phaselist
        tr 
          th Phase 
          th Duration
        - i = -1
        each x in phases
          if x.minor == false
            tr(id='row'+x.id, class='gid'+x.gid, style=(`display:${i > 0 ? "none" : "table-row"}`))
              td
                span(id='phase'+x.id)= x.phase
              td
                span(id='duration'+x.id)= x.duration + " mins"
            - i++
if dash_id == "dmelb"
  audio#phase_end_audio
    source(src="/assets/audio/Phase_End-converted.mp3" type="audio/mpeg")
  audio#round_end_audio
    source(src="/assets/audio/Round_End-converted.mp3" type="audio/mpeg")